<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {%csrf_token%}
        <table class="table">
            <tr><td>Enter Product Name </td><td><input type="text" name="name" required/></td></tr>
            <tr><td>Enter Product Weight </td><td><input type="text" name="weight" required/></td></tr>
            <tr><td>Enter Product Price </td><td><input type="text" name="price" required/></td></tr>
            <tr><td><button type="submit">Submit</button>
                </td><td></td></tr>
        </table>

        <br/>
    </form>
    
</body>
</html>